* {
    margin: 0;
    padding: 5px;
}
html {
    margin: 0;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 73, 53);
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
form {
    width: 60vh;
    max-width: 500px;
    min-width: 300px;
    margin:  0 auto;
    padding-bottom: 2rem;
}
h1 {
    margin: 1em auto;
    text-align: center;
    animation-name: h1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s; 
}
p {
    margin: 1em auto;
    text-align: center;
    animation-name: p;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;  
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    color: black;
}
label {
    margin: 0.5rem 0;
    display: block;
}

@keyframes h1  {
    0% {
        transform: translateX(-180px);
    }
    100% {
       transform: 0%; 
    }
    }
    @keyframes p  {
        0% {
            transform: translateX(180px);
        }
        100% {
           transform: 0%; 
        }
        }
        input, textarea {
            background-color: #fff;
            border: 1px solid #fff;
            color: black;
        }
        
        .inline {
            width: unset;
            margin: 0 0.5em 0 0;
            vertical-align: middle;
            
        }
    
        fieldset:last-of-type {
            border-bottom: none;
        }
        input[type="file"] {
            padding: 1px 2px;
        }
        a {
            color: whitesmoke;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
        }
        a:hover {
            color: #b0b0d6;
        }
        
        input[type="submit"] {
            display: block;
                }

    .button {
        display: inline-block;
        color: black; 
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 1.1em;
        width: 40%;
        height: 2em;
        border-radius: 2em;
        margin: 1em auto;
        margin-top: 30px;
        animation-name: button;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-delay: 0.5s; 
        animation-fill-mode: forwards;
        transition-property: opacity;
        transition-duration: 1s;
    
    }
    .button:hover {
        color: white;
        background-color: rgb(12, 73, 53);
    }
    @keyframes button  {
        0% {
            opacity: 0;
        }
        100% {
           opacity: 1; 
        }
        }
